[submodule "ansible/roles/mysql"]
	path = ansible/roles/mysql
	url = https://github.com/bennojoy/mysql.git
[submodule "ansible/roles/liferay"]
	path = ansible/roles/liferay
	url = https://github.com/silpion/ansible-liferay.git
[submodule "ansible/roles/ansible-role-nodejs"]
	path = ansible/roles/ansible-role-nodejs
	url = https://github.com/geerlingguy/ansible-role-nodejs.git
[submodule "ansible/roles/ansible-role-openjdk-jdk"]
	path = ansible/roles/ansible-role-openjdk-jdk
	url = https://github.com/infOpen/ansible-role-openjdk-jdk.git
